<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-unicode</string>
	<key>connections</key>
	<dict>
		<key>121085DF-F6E3-41BE-B331-F51F81FE1E32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D49E289-94E9-4E0C-ACF4-C71CEF2BA4EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>804C944C-E3D1-48D8-B24E-CE0E1B41E30C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Unicode characters to HTML</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unicode Characters</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D49E289-94E9-4E0C-ACF4-C71CEF2BA4EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>unicode</string>
				<key>runningsubtext</key>
				<string>Loading Unicode…</string>
				<key>script</key>
				<string>/usr/bin/python characters.py "{query}"</string>
				<key>subtext</key>
				<string>Search Unicode Characters</string>
				<key>title</key>
				<string>Unicode Characters</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>121085DF-F6E3-41BE-B331-F51F81FE1E32</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>804C944C-E3D1-48D8-B24E-CE0E1B41E30C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>121085DF-F6E3-41BE-B331-F51F81FE1E32</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1D49E289-94E9-4E0C-ACF4-C71CEF2BA4EC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>804C944C-E3D1-48D8-B24E-CE0E1B41E30C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
